# .gitignore

# Blacklist everything
*

# Whitelist individual items
!README
!README.md
!contributors.txt
!.gitconfig
!.gitaliases
!.gitignore
!.zshrc

!/.zshd/
!/.files/
!/.files/*
!/.files/install/*

