# .gitignore

# Blacklist everything
*
.gitconfig
.zshrc
/.files/extra.sh

# Whitelist individual items
!README
!README.md
!contributors.txt
!.gitaliases
!.gitignore

!/.zshd/
!/.files/
!/.files/*
!/.files/install/*
